.Home-l,
.Home-r {
    height: 600px;
    background-color: rgb(77, 77, 153, 0.2);
}
.Home-r-t,
.Home-r-b {
    height: 300px;
}
.Home-r-t {
    background-color: rgb(167, 64, 23, 0.2);
}
.Home-r-b {
    background-color: rgba(46, 153, 78, 0.2);
}
