.ant-layout {
    .ant-list-header {
        padding-inline: 12px;
    }
    .ant-list-item {
        padding-inline: 12px;
        &.current-item {
            background-color: green;
        }
    }
    .ant-list-footer {
        padding-inline: 12px;
    }
}
