.ant-layout {
    .ant-list-header {
        position: fixed;
        top: 0;
        left: 0;
        padding-inline: 0;
        padding-block: 0;
        height: 43px;
        width: 600px;
        padding: 8px 12px;
        box-sizing: border-box;
        background: red;
        overflow: hidden;
        z-index: 999;
    }
    .ant-spin-nested-loading {
        margin-top: 43px;
        margin-bottom: 54px;
        .ant-list-item {
            padding-inline: 12px;
            &.current {
                background-color: green;
            }
        }
    }

    .ant-list-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        height: 54px;
        width: 600px;
        box-sizing: border-box;
    }
}
