//  菜单缩小时的hover菜单
.el-menu--vertical {
    .el-menu--popup {
        margin-left: 1px !important;
        margin-right: 1px;
        padding: 0;
    }
    .el-menu-item:focus,
    .el-menu-item:hover {
        background-color: #214999 !important;
    }
}
.el-button {
    padding: 8px 14px;
    color: #214999;
    &.el-button--primary {
        color: #fff;
        background-color: #214999;
        border-color: #214999;
    }
}
.el-form-item__label {
    color: #333 !important;
}
