<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.english.mapper.EssayMapper">
	<resultMap type="Essay" id="EssayMapper">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="vocabulary" column="vocabulary" />
	</resultMap>
	<!-- Select -->
	<sql id="selectWhere">
		<trim prefix="WHERE 1=1 AND (" suffix=")" prefixOverrides="AND">
			<if test="keyword != null and keyword != ''">AND (
				`title` LIKE concat('%', #{keyword}, '%') OR
				`content` LIKE concat('%', #{keyword}, '%') OR
				`vocabulary` LIKE concat('%', #{keyword}, '%'))
			</if>
		</trim>
	</sql>
	<select id="count" parameterType="QueryCondition" >
		SELECT count(id) AS `total` FROM `essay` <include refid="selectWhere" />
	</select>
	<select id="selectLimited" parameterType="QueryCondition" resultMap="EssayMapper">
		SELECT * FROM `essay` <include refid="selectWhere" />
		<choose>
			<when test="orderType != null and orderType == 'ASC'"> ORDER BY `id` ASC</when>
			<when test="orderType != null and orderType == 'DESC'"> ORDER BY `id` DESC</when>
			<otherwise>ORDER BY `id` DESC</otherwise>
		</choose>
		<if test="pageSize != null and pageSize > 0">
			<if test="offset != null and offset >= 0">
				LIMIT #{offset},#{pageSize}
			</if>
		</if>
	</select>
	<!-- Select -->
	<!-- Insert -->
	<insert id="insert" parameterType="Essay" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `essay`
		<trim prefix=" (" suffix=") " prefixOverrides=",">
			`title`,`content`
			<if test="vocabulary != null">,`vocabulary`</if>
		</trim> VALUES
		<trim prefix=" (" suffix=") " prefixOverrides=",">
			#{title},#{content}
			<if test="vocabulary != null">,#{vocabulary}</if>
		</trim>
	</insert>
	<!-- Insert -->
	<!-- Update -->
	<update id="update" parameterType="Essay">
		UPDATE `essay`
		<set>
			<if test="title != null and title != ''">,`title` = #{title}</if>
			<if test="content != null and content != ''">,`content` = #{content}</if>
			<if test="vocabulary != null">,`vocabulary` = #{vocabulary}</if>
		</set>
		WHERE `id` = #{id}
	</update>
	<!-- Update -->
	<!-- Delete -->
	<delete id="delete" parameterType="DeleteRequestBody">
		DELETE FROM `essay` <if test="id != null and id > 0">WHERE `id` = #{id}</if>
	</delete>
	<delete id="batchDelete" parameterType="DeleteRequestBody">
		DELETE FROM `essay`
		<if test="ids != null and ids.length > 0">
			WHERE `id` IN
			<foreach item="id" collection="ids" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
	</delete>
	<!-- Delete -->
</mapper>