<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.english.mapper.ItemTtsMapper">
	<resultMap type="ItemTts" id="ItemTtsMapper">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="audio" column="audio" />
		<result property="audioCn" column="audio_cn" />
		<result property="audioSource" column="audio_source" />
	</resultMap>
	<!-- Select -->
	<sql id="selectWhere">
		<trim prefix="WHERE 1=1 AND (" suffix=")" prefixOverrides="AND">
			<if test="name != null and name != ''">AND `name` LIKE concat('%', #{name}, '%')</if>
		</trim>
	</sql>
	<select id="count" parameterType="QueryCondition" >
		SELECT count(*) AS `total` FROM `item_tts` <include refid="selectWhere" />
	</select>
	<select id="selectLimited" parameterType="QueryCondition" resultMap="ItemTtsMapper">
		SELECT * FROM `item_tts` <include refid="selectWhere" />
		<if test="pageSize != null and pageSize > 0">
			<if test="offset != null and offset >= 0">
				LIMIT #{offset}, #{pageSize}
			</if>
		</if>
	</select>
	<select id="findByName" parameterType="String" resultMap="ItemTtsMapper">
		SELECT * FROM `item_tts` WHERE `name` = #{name} LIMIT 1
	</select>
	<!-- Select -->
	<!-- Insert -->
	<insert id="insert" parameterType="ItemTts" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `item_tts`
		<trim prefix=" (" suffix=") " prefixOverrides=",">
			`name`,`audio`,`audio_cn`,`audio_source`
		</trim>VALUES
		<trim prefix=" (" suffix=") " prefixOverrides=",">
			#{name},#{audio},#{audioCn},#{audioSource}
		</trim>
	</insert>
	<!-- Insert -->
	<!-- Update -->
	<update id="update" parameterType="ItemTts">
		UPDATE `item_tts`
		<set>
			<if test="audio != null">,`audio` = #{audio}</if>
			<if test="audioCn != null">,`audio_cn` = #{audioCn}</if>
		</set>
		WHERE `id` = #{id}
	</update>
	<!-- Update -->
	<!-- Delete -->
	<delete id="delete" parameterType="DeleteRequestBody">
		DELETE FROM `item_tts` <if test="id != null and id > 0">WHERE `id` = #{id}</if>
	</delete>
	<delete id="batchDelete" parameterType="DeleteRequestBody">
		DELETE FROM `item_tts`
		<if test="ids != null and ids.length > 0">
			WHERE `id` IN
			<foreach item="id" collection="ids" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
	</delete>
	<!-- Delete -->
</mapper>