<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.english.mapper.SimilarMapper">
	<resultMap type="Similar" id="SimilarMapper">
		<id property="id" column="id" />
		<result property="items" column="items" />
		<collection property="itemList" ofType="Item">
			<result property="name" column="i_name" />
			<result property="common" column="i_common" />
			<association property="tts" javaType="ItemTts" resultMap="ItemTtsMapper" />
		</collection>
	</resultMap>
	<resultMap type="ItemTts" id="ItemTtsMapper">
		<result property="audio" column="it_audio" />
	</resultMap>
	<!-- Select -->
	<sql id="selectWhere">
		<trim prefix="WHERE 1=1 AND (" suffix=")" prefixOverrides="AND">
			<if test="keyword != null and keyword != ''">AND (`items` LIKE concat('%', #{keyword}, '%'))</if>
		</trim>
	</sql>
	<select id="count" parameterType="QueryCondition" >
		SELECT count(`id`) AS `total` FROM `similar` <include refid="selectWhere" />
	</select>
	<select id="selectLimited" parameterType="QueryCondition" resultMap="SimilarMapper">
		SELECT
		    `similar`.`id`,
		    `similar`.`items`,
		    `item`.`name` AS `i_name`,
		    `item`.`common` AS `i_common`,
		    `item_tts`.`audio` AS `it_audio`
		FROM (
			SELECT id, items FROM similar <include refid="selectWhere" /> ORDER BY id DESC
			<if test="pageSize != null and pageSize > 0">
				<if test="offset != null and offset >= 0">
					LIMIT #{offset},#{pageSize}
				</if>
			</if>
		) AS `similar`
		    LEFT JOIN `item` ON FIND_IN_SET(`item`.`name`,`similar`.`items`)
			LEFT JOIN `item_tts` ON `item_tts`.`name` = `item`.`name`
	</select>
	<select id="findByItemIds" parameterType="String" resultMap="SimilarMapper">
		SELECT * FROM `similar` WHERE `items` = #{itemIds} LIMIT 1
	</select>
	<!-- Select -->
	<!-- Insert -->
	<insert id="insert" parameterType="Similar" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `similar`
		<trim prefix=" (" suffix=") " prefixOverrides=",">`items`</trim>
		    VALUES
		<trim prefix=" (" suffix=") " prefixOverrides=",">#{items}</trim>
	</insert>
	<!-- Insert -->
	<!-- Update -->
	<update id="update" parameterType="Similar">
		UPDATE `similar`
		<set>
			<if test="items != null and items != ''">`items` = #{items}</if>
		</set>
		WHERE `id` = #{id}
	</update>
	<!-- Update -->
	<!-- Delete -->
	<delete id="delete" parameterType="DeleteRequestBody">
		DELETE FROM `similar` <if test="id != null and id > 0">WHERE `id` = #{id}</if>
	</delete>
	<delete id="batchDelete" parameterType="DeleteRequestBody">
		DELETE FROM `similar`
		<if test="ids != null and ids.length > 0">
			WHERE `id` IN
			<foreach item="id" collection="ids" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
	</delete>
	<!-- Delete -->
</mapper>